@use "../setting/setting";

.c-topHeading{
  span{
    color: setting.$color-main;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    font-family: setting.$font-en;
    display: inline-block;
    background: linear-gradient(45deg, #FA8BFF 16%, #2BD2FF 57%, #2BFF88 90%);
    background: -webkit-linear-gradient(45deg, #FA8BFF 16%, #2BD2FF 57%, #2BFF88 90%);
    background-size: 300% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientEffect 3s infinite alternate;
    line-height: 1.4;
    margin-bottom: 8px;
  }
 
@keyframes gradientEffect {
  from {background-position: left}
  to {background-position: right}
}

  }

  h2{
    font-size: 20px;

  }

@media (min-width: 1024px){
  .c-topHeading{
    span{
      font-size: 48px;
      line-height: 1.1;
      position: absolute;
    }

    h2{
      font-size: 28px;
      line-height: 1.5;
      padding-top: 80px;
    }
  }
}