@use "../setting/setting";

.p-topInfo{
  position: relative;
  padding: 36px 0;

  &:before{
    content: '';
    position: absolute;
    display: block;
    top: 0;
    background: setting.$color-accent;
    width: 100%;
    height: 72%;
    z-index: -1;
  }
}

.p-topInfo__heading{
  color: #fff;
  text-align: center;
  line-height: 1.4;

  span{
    text-transform: capitalize;
    font-size: 28px;
    display: block;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.4px;
  }
}

.p-topInfo__menu{
  padding-top: 24px;
}

.p-topInfo__box{
  height: 240px;
  position: relative;

  a{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: -webkit-gradient(linear, left top, right top, from(#2af598), to(#009efd));
  background-image: -webkit-linear-gradient(left, #2af598 0%, #009efd 100%);
  background-image: linear-gradient(90deg, #2af598 0%, #009efd 100%);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 16px 24px;
    font-weight: bold;
    width: 200px;
    text-align: center;
    border-radius: 2px;
    overflow: hidden;
    color: #fff;

    &:hover{
      opacity: 0.8;
    }
  }
  
}

.-boxAbout{
  background: url("../images/top-menu1.jpg")no-repeat center center/cover;
}

.-boxAccess{
  background: url("../images/page-header.jpg")no-repeat center center/cover;
}

.-boxMember{
  background: url("../images/top-menu3.jpg")no-repeat center center/cover;
}



@media (min-width: 768px){
  .p-topInfo__menu{
    display: flex;
  }

  .p-topInfo__box{
    width: 33%;

    a{
      padding: 8px;
      width: 180px;
      transition: .2s;


    }
  }
}

@media (min-width: 1024px){
  .p-topInfo{
    padding: 72px 0;
  }

  .p-topInfo__heading{  

    span{
      font-size: 40px;
      line-height: 1.1;
    }

    p{
      font-size: 24px;
    }
  }

}

