@use "../setting/setting";

.p-topSimulator{
  padding: 48px 0 40px;
}

@media (min-width: 768px){
  .p-topSimulator{
    padding: 40px 0 64px;
  }
}


@media (min-width: 1024px){
  .p-topSimulator{
    padding: 148px 0 128px;
  }
}